// SCSS colour palette

// primary colours
$bg-gradient: linear-gradient(to bottom right, #f8a8c5, #f9d0af);
$color-primary: #F778A9; //icons
$color-secondary: #6C1F41; //nav bar
$color-accent: #9C4400; // + & - button

$color-orange: #EE6F3E; // logo orange and stempelkort

//font
$font-primary: 'gelica', sans-serif;



body {
  background: $bg-gradient;
  background-repeat: no-repeat;
  background-attachment: fixed;

  font-family: $font-primary;
}


// header

.jo-header {
  position: relative;
  height: 200px;
}
.jo-top-logo {
  text-align:center;
  padding-top: 100px;

}
.jo-lang-btn {
  position: absolute;
  top: 30px;
  right: 50px;
  border: none;
}

.home-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  padding: 10px;
  background: none;
  border: none;
  cursor: pointer;

  img {
    width: 40px;
    height: 40px;
  }

  span {
    margin-top: 4px;
    font-size: 0.85rem;
    color: #000;
  }
}


// main

main {
  > div:last-child {
    margin-bottom: 130px;
  }
}


//fresia
// sortiment

.card {
  background-color: #fff;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
}
.btn:focus, .btn:active {
  outline: none;
  box-shadow: none;
}

.container-products {
  padding-bottom: 100px;
  margin-bottom: 60px;
}

//gayane
// betal side

h2{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  color: #511c3c;
  font-size: 40px;
  font-weight: bold;
}

.payment-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  p {
    font-weight: bold;
    color: #511c3c;
    font-size: 24px;
  }

  .qr {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: auto;
  }
}

.betalings-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  img {
    width: 240px;
    height: auto;
  }
}

.arrow {
  display: flex;
  flex-direction: column;
  align-items: center;
  img{
    width: 40px;
    height: auto;
  }
}

// Still din dunk klar side

 .instruction {
   display: flex;
   flex-direction: column;
   text-align: center;
   font-size: 48px;
   color: #511c3c;
   margin-bottom: 100px;
   font-weight: bold;

    font-family: "gelica", sans-serif;
    font-weight: 900;
    font-style: normal;
 }

.next-button {
  padding: 17px 90px;
  margin: 32px auto 0;
  background-color: #511c3c;
  color: white;
  text-decoration: none;
  font: 900 24px "Gelica", sans-serif;
  border-radius: 14px;
}

 .next-button:hover {
   background-color: #3b122c;
 }



//main
// footer

footer {
  position: fixed;
  bottom: 0;
  width: 100%;

  nav {
    background-color: $color-secondary;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

    div {
      display: flex;
      justify-content: center;

      .jo-footer-img-container {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          height: 50px;
        }
      }

      .jo-footer-nav-active {
        background-color: white;
        border-radius: 100%;
        height: 75px;
        width: 75px;
      }
    }
  }
}


//kurv

.scan-bottle-btn {
  background-color: $color-primary;
}