// SCSS colour palette

// primary colours
$color-primary: #F778A9; //icons
$color-secondary: #6C1F41; //nav bar
$color-accent: #9C4400; // + & - button

$color-orange: #EE6F3E; // logo orange and stempelkort


body {
  background-image: url("/img/background.png");
}


// header

.jo-header {
  position: relative;
  height: 200px;
}
.jo-top-logo {
  text-align:center;
  padding-top: 100px;

}
.jo-lang-btn {
  position: absolute;
  top: 30px;
  right: 50px;
  border: none;
}

// main

main {
  > div:last-child {
    margin-bottom: 130px;
  }
}


// sortiment

.card {
  background-color: #fff;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
}
.btn:focus, .btn:active {
  outline: none;
  box-shadow: none;
}

.container-products {
  padding-bottom: 100px;
  margin-bottom: 60px;
}

// footer

footer {
  position: fixed;
  bottom: 0;
  width: 100%;

  nav {
    background-color: $color-secondary;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

    div {
      display: flex;
      justify-content: center;

      .jo-footer-img-container {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          height: 50px;
        }
      }

      .jo-footer-nav-active {
        background-color: white;
        border-radius: 100%;
        height: 75px;
        width: 75px;
      }
    }
  }
}
